/*https://alligator.io/css/collapsible/*/

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%; /*90%*/

  /*
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none; 
  */
    
  margin-bottom: 0px;
  margin-top: 30px; 
}

.quiz-surround {
  width: 100% !important; /*90%*/
  
}

.all-collabsible {
position: relative;
  float: right;
}

input[type='checkbox'] {
  display: none;
}

.ad {
    width: 335px !important;
  margin-top: 50px;
}

.ad label{
    font-size: 15px;
  background: rgba(255, 255, 255, 0.1);
}

.ad .collapsible-content .content-inner  {
    padding: 0px;
    padding-bottom: 13px;
  
}

.ad img {
    display: block;
    margin: 0 auto;
}

.lvl1 {
  
  width: 98%; 
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lvl1 .lbl-toggle {
  padding: 0.2rem;
}



.lbl-toggle {
  display: block;

  font-weight: 400;
  font-size: 1.2rem;
  /* text-transform: uppercase; */
  text-align: center;

  padding: 0.5rem; /*default: 1rem*/
  padding-bottom: 11px; /*If collapse content messes up, increase this*/

  /* background:  rgba(255, 255, 255, 0.05); */

  cursor: pointer;

  border: 6px solid #00004c; 
  border-bottom: 0px dashed #00004c;
  
  /* transition: all 0.2s ease-out; */
  
  
  /*So no highlight on phones*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.togall lbl-toggle {
  padding: 200px;
}

.ad-toggle, .ad .content-inner {
  border-color: #f7f7f7 !important;
  
}




.lbl-toggle h3 {
  transition: color 200ms;
}


.lbl-toggle:hover h3 {
  color: #febc2d;
}


.lbl-toggle .circle-plus .horizontal, 
.lbl-toggle .circle-plus .vertical{
  transition: all .5s ease;
}

.lbl-toggle:hover .circle-plus .horizontal, 
.lbl-toggle:hover .circle-plus .vertical{
  background-color: #febc2d;

}

.lbl-toggle:active {
  border-bottom: 0px solid #febc2d;

}

input[type='checkbox']:checked + .lbl-toggle {
  box-shadow: none;
  
}

.lbl-toggle::before { /* Little triangle */
  content: ' ';
  display: inline-block;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-in-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}



.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s;
  text-align: left;
    
}


.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 90vh;
  padding-bottom: 20px;
}

.max-height-400vh .toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 400vh;
  padding-bottom: 20px;
}

.toggle:checked + .lbl-toggle + .images-over-border {
  overflow: visible;
}

.toggle:checked + .lbl-toggle {

  border-bottom: 0px solid #00004c; 
  
}

.toggle:not(:checked) + .lbl-toggle {  /*turned off toggle*/

}

.collapsible-content .content-inner {
  /* background: rgba(255,255,255,0.5); */
  padding: .5rem 1rem;
  
  border: 6px solid #00004c;
  border-top: 0px solid #00004c;
}




.togallButton {
}

.togallButton > label:hover {

}

.togallButton label {
    width: 35px;
    height: 34px;

     bottom: inherit;
     right: inherit;
  background: rgba(255, 255, 255, 0.2);
}

.togallButton .lbl-toggle::before {
  content: ' ';
  display: inline-block;

  vertical-align: middle;
  margin-right: -0.16rem;

  transition: transform .2s cubic-bezier(0,.5,0,1);
}


.togallButton .toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(3.5px);
}

.togallButton .toggle:checked + .lbl-toggle {
  
}

@media only screen and (min-width: 800px) {
.wrap-collabsible {
    width: 720px;
  } 
  
  
  
  .faux-border-top {
    width: 720px;
  }  
  
  .faux-border-bottom {
    width: 720px;
  }  
  
  .faux-border-bottom-2 {
    width: 720px;
  }  
  .faux-border-middle {
    width: 720px;
  }
  .listy {
    padding-left: 50% - 360px;
    padding-right: 50% - 360px;
  }
  .lvl1 {
    width: 690px;
  }
  .logo {
    width: 400px;
    padding-top: 60px;
  }
  .small-logo {
    width: 100px;
    padding-top: 20px;
  }

}

@media only screen and (max-width: 300px) {
  
.maintitle {
  font-size: 25px;
}
}


/* plus-minus animation */

.closed .vertical {
	 transition: all 0.5s ease-in-out;
	 transform: rotate(-90deg);
}
 .closed .horizontal {
	 transition: all 0.5s ease-in-out;
	 transform: rotate(-90deg);
	 opacity: 1;
}
 .opened {
	 opacity: 1;
}
 .opened .vertical {
	 transition: all 0.5s ease-in-out;
	 transform: rotate(90deg);
}
 .opened .horizontal {
	 transition: all 0.5s ease-in-out;
	 transform: rotate(180deg);
	 opacity: 0;
}
 .circle-plus {
	 position: relative;
	 width: 2.55em;
	 height: 2.5em;

}


.circle-plus .pm-circle {
    position: relative;
    width: 2.55em;
    height: 2.55em;
    border-radius: 100%;
    bottom: 1px;
  background-color: white; /* #f7f7f7; */
  
  -webkit-box-shadow: 0px 10px 18px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 18px -12px rgba(0,0,0,0.75);
box-shadow: 0px 10px 18px -12px rgba(0,0,0,0.75);
  
  transition: box-shadow 150ms;
}

.circle-plus .pm-circle:active {
  -webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.calc-icon .pm-circle {
  /* box-shadow: 0px 3px 10px rgba(95, 95, 95, 0.6); */
}

.quiz .pm-circle {
  padding: 8px;
}

 .circle-plus .horizontal {
	 position: absolute;
	 background-color: #00004c;
	 width: 30px;
	 height: 7px;
	 left: 50%;
	 margin-left: -15px;
	 top: 50%;
	 margin-top: -2.5px;
}
 .circle-plus .vertical {
	 position: absolute;
	 background-color: #00004c;
	 width: 7px;
	 height: 30px;
	 left: 50%;
	 margin-left: -4px;
	 top: 50%;
	 margin-top: -14px;
}

.circle-plus .tick-down {
	 position: absolute;
	 background-color: #00004c;
	 width: 7px;
	 height: 20px;
	 left: 50%;
	 margin-left: -14px;
	 top: 50%;
	 margin-top: -4px;
  
  transform: rotate(-45deg);
}

.circle-plus .tick-up {
	 position: absolute;
	 background-color: #00004c;
	 width: 7px;
	 height: 30px;
	 left: 50%;
	 margin-left: 0px;
	 top: 70%;
	 margin-top: -25px;
  
  transform: rotate(45deg);
}


.togall-box:hover ~ .lbl-toggle h3 {
  color: #febc2d !important;
}
