nav#slide-menu-3const {
  position: fixed;
  right: -100px; 
  /* transform: translateX(-100px); */
  display: block;
  float: left;
  width: 100%;
  max-width: 450px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  
  
  opacity: 0;
  will-change: transform;
  overflow-y: auto; 
  height: 100%; /* See .night-sky */
  color: white !important;
  background: #111;
  background: -webkit-gradient(linear, left bottom, left top, from(#00004c), to(#000000));
  background: linear-gradient(180deg, #000000, #00004c);
}



@media only screen and (min-width: 450px) {
  nav#slide-menu-3const {
    max-width: 284px;
  }
}

nav#slide-menu-3const > ul {
  font-family: "Montserrat", "Gilroy", "helvetica neue", sans-serif;
  display: block;
  margin: 40px;
  padding: 0;
  list-style: none;
  opacity: 0.5;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  
  will-change: transform;
}
nav#slide-menu-3const > ul li {
  /* color: #dfe5eb; */
  padding: 6px 0;
  cursor: pointer;
  
  transition: color 150ms;
}
nav#slide-menu-3const > ul li:hover {
  color: #f4c248;
}
nav#slide-menu-3const > ul li:before {
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #f4c248;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
nav#slide-menu-3const > ul li.sep {
  margin-top: 7px;
  padding-top: 14px;
  border-top: 1px solid #6b7b8d;
}
nav#slide-menu-3const > ul li.username {
  font-weight: 700;
  font-size: 45px;
  cursor: default !important;
  color: #00004c !important;
}
/*
body.slide-menu-3-active nav#slide-menu-3const {
  background: black !important;
} */

body.slide-menu-3-active nav#slide-menu-3const {
  /*right: 0px;*/
  transform: translateX(-100px) translateZ(0);
  opacity: 1;
  z-index: 1;
  
}

body.slide-menu-2-active nav#slide-menu {
  z-index: 2;
}

body.slide-menu-3-active nav#slide-menu-3const ul {
  /*right: 0px;*/
  transform: translateX(0px) translateZ(0);
  opacity: 1;
}

/*
  Content
*/

div#slide-content .slide-menu-trigger-3const {
  position: absolute; 
  background: url("user_star.svg") no-repeat;
  top: 18px;
  right: 15px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 0px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  
  z-index: 999;
  will-change: transform;
}

body.slide-menu-3-active div#slide-content {
 
  /*right: 284px;
  transform: translateX(-320px);*/
  /*border-radius: 7px 0 0 7px;*/
  /* border-radius: 20px; 
  border-right: 0px solid #bfbdbd;*/
  
  /* Darken (with filter?)
  
  filter: blur(2px);
  -webkit-filter: blur(2px);  */
  
   position: fixed;
  overflow: hidden; 
}
.user-menu-stars {
}




body.slide-menu-3-active div #slide-content-darken {
  opacity: 0.95;
  z-index: 999;
  cursor: pointer;
  transition: opacity 300ms !important;
  background-color: #000011;
}

div#slide-content-darken {
  position: fixed;
  width: 100%;
  height: 140%;
  opacity: 0;
  transition: opacity 100ms !important;
}



.actual-constellations {
  width: 200px;
  margin-left: auto; 
  margin-right: auto; 
  padding-top: 10px;

}

.indiv-constellation {
  margin-top: 90px;
}

.const-titles {
  font-family: 'Montserrat';
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding-top: 10px;
  text-align: center
}

.const-subtitles {
  font-family: 'Montserrat';
  color: white;
  font-weight: 400;
  font-size: 15px;
  padding-top: 0px;
  text-align: center
}
