nav#slide-menu-2 {
  position: fixed;
  right: -100px; 
  /* transform: translateX(-100px); */
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  max-width: 450px;
  
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background:  #f7f7f7;
  
  
  opacity: 0;
  overflow-y: auto;
}


@media only screen and (min-width: 450px) {
  nav#slide-menu-2 {
    max-width: 284px;
  }
}


nav#slide-menu-2 > ul {
  font-family: "Montserrat", "Gilroy", "helvetica neue", sans-serif;
  display: block;
  margin: 45px;
  margin-right: 20px;
  margin-top: 40px;
  padding: 0;
  list-style: none;
  opacity: 0.5;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  
  will-change: transform;
}
nav#slide-menu-2 > ul li {
  /* color: #dfe5eb; */
  padding: 6px 0;
  cursor: pointer;
  
  transition: color 150ms;
}
nav#slide-menu-2 > ul li:hover {
  color: #f4c248;
}
nav#slide-menu-2 > ul li:before {
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #f4c248;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
nav#slide-menu-2 > ul li.sep {
  margin-top: 7px;
  padding-top: 14px;
}
nav#slide-menu-2 > ul li.username {
  font-weight: 700;
  font-size: 45px;
  cursor: default !important;
  color: #00004c !important;
}


body.slide-menu-2-active nav#slide-menu-2 {
  /*right: 0px;*/
  transform: translateX(-100px) translateZ(0);
  opacity: 1;
  z-index: 1;
}

body.slide-menu-2-active nav#slide-menu {
  z-index: 2;
}

body.slide-menu-2-active nav#slide-menu-2 ul {
  /*right: 0px;*/
  transform: translateX(0px) translateZ(0);
  opacity: 1;
}

/*
  Content
*/

div#slide-content .slide-menu-trigger-2 {
  position: absolute; 
  background: url("../img/user_star.svg") no-repeat;
  top: 18px;
  right: 15px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 0px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  
  z-index: 999;
  will-change: transform;
}

body.slide-menu-2-active div#slide-content {
 
  /*right: 284px;
  transform: translateX(-320px);*/
  /*border-radius: 7px 0 0 7px;*/
  /*border-radius: 20px;
  border-right: 0px solid #bfbdbd;*/
  
  /* Darken (with filter?)
  
  filter: blur(2px);
  -webkit-filter: blur(2px);  */
  
   position: fixed;
}
.user-menu-stars {
}




body.slide-menu-2-active div #slide-content-darken {
  opacity: 0.9;
  z-index: 999;
  cursor: pointer;
  transition: opacity 300ms !important;
}

div#slide-content-darken {
  position: fixed;
  width: 100%;
  height: 140%;
  background-color: #00004c;
  opacity: 0;
  transition: opacity 100ms !important;
}



.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
}

.flex-container > div {
  width: 30px !important;
  height: 30px !important;
  padding: 20px !important;
  text-align: center;
  font-size: 30px;
  background-image: url(../img/star_menu.svg) !important;
  opacity: 0.3;
}

.flex-container > #star-1-active { 
  background-image: url(../img/user-menu-stars-2.png) !important;
  opacity: 1 !important;
}
