/* html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #151719;
  overflow: hidden;
}

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -webkit-tap-highlight-color: transparent;
} */

.sticker-wrapper {
  margin: auto;
}


.sticker {
  position: relative;
  width: 150px;
  height: 150px;
  pointer-events: none;
}
.sticker__face {
  -webkit-transition: -webkit-filter 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: -webkit-filter 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: filter 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: filter 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-filter 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
}
.sticker__face--front {
  -webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}
.sticker__face--front .sticker__content {
  background: url("../Philip_sticker.svg");
  -webkit-mask-box-image: url("../Philip_sticker.svg") repeat;
}
.sticker__face--front .sticker__shadow {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.sticker__face--back {
  -webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0));
          filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0));
}
.sticker.is-peeled .sticker__face--back {
  -webkit-filter: drop-shadow(25px 25px 10px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(25px 25px 10px rgba(0, 0, 0, 0.1));
}
.sticker__face--back .sticker__content {
  background: white;
  -webkit-mask-box-image: url("../Philip_sticker.svg") repeat;
}
.sticker__face--back .sticker__shadow {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}
.sticker__holder {
  -webkit-transition: -webkit-transform 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: -webkit-transform 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  position: absolute;
  top: -31.066017178px;
  left: -31.066017178px;
  width: 212.132034356px;
  height: 212.132034356px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  overflow: hidden;
}
.sticker__content {
  -webkit-transition: -webkit-transform 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: -webkit-transform 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  position: absolute;
  width: 150px;
  height: 150px;
  top: 31.066017178px;
  left: 31.066017178px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  overflow: hidden;
  pointer-events: all;
}
.sticker__shadow {
  -webkit-transition: -webkit-transform 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: -webkit-transform 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 212.132034356px;
  width: 75px;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
.sticker .sticker__face--front .sticker__holder {
  -webkit-transform: rotate(45deg) translate3d(37.1231060123px, 0, 0);
          transform: rotate(45deg) translate3d(37.1231060123px, 0, 0);
}
.sticker .sticker__face--front .sticker__content {
  -webkit-transform: translate3d(-37.1231060123px, 0, 0) rotate(-45deg);
          transform: translate3d(-37.1231060123px, 0, 0) rotate(-45deg);
}
.sticker .sticker__face--front .sticker__shadow {
  -webkit-transform: rotate(45deg) translate3d(-156.4473753375px, 0, 0) scaleX(1.3199747468);
          transform: rotate(45deg) translate3d(-156.4473753375px, 0, 0) scaleX(1.3199747468);
}
.sticker .sticker__face--back .sticker__holder {
  -webkit-transform: rotate(45deg) translate3d(37.1231060123px, 0, 0);
          transform: rotate(45deg) translate3d(37.1231060123px, 0, 0);
}
.sticker .sticker__face--back .sticker__content {
  -webkit-transform: translate3d(-175.0089283437px, 0, 0) rotate(45deg) scaleX(-1);
          transform: translate3d(-175.0089283437px, 0, 0) rotate(45deg) scaleX(-1);
}
.sticker .sticker__face--back .sticker__shadow {
  -webkit-transform: rotate(-135deg) translate3d(68.7679111657px, 212.132034356px, 0) scaleX(0.4949747468);
          transform: rotate(-135deg) translate3d(68.7679111657px, 212.132034356px, 0) scaleX(0.4949747468);
}
.sticker.is-peeled .sticker__face--front .sticker__holder {
  -webkit-transform: rotate(45deg) translate3d(169.7056274848px, 0, 0);
          transform: rotate(45deg) translate3d(169.7056274848px, 0, 0);
}
.sticker.is-peeled .sticker__face--front .sticker__content {
  -webkit-transform: translate3d(-169.7056274848px, 0, 0) rotate(-45deg);
          transform: translate3d(-169.7056274848px, 0, 0) rotate(-45deg);
}
.sticker.is-peeled .sticker__face--front .sticker__shadow {
  -webkit-transform: rotate(45deg) translate3d(42.4264068712px, 0, 0) scaleX(2.4627416998);
          transform: rotate(45deg) translate3d(42.4264068712px, 0, 0) scaleX(2.4627416998);
}
.sticker.is-peeled .sticker__face--back .sticker__holder {
  -webkit-transform: rotate(45deg) translate3d(169.7056274848px, 0, 0);
          transform: rotate(45deg) translate3d(169.7056274848px, 0, 0);
}
.sticker.is-peeled .sticker__face--back .sticker__content {
  -webkit-transform: translate3d(-42.4264068712px, 0, 0) rotate(45deg) scaleX(-1);
          transform: translate3d(-42.4264068712px, 0, 0) rotate(45deg) scaleX(-1);
}
.sticker.is-peeled .sticker__face--back .sticker__shadow {
  -webkit-transform: rotate(-135deg) translate3d(-64.4396103068px, 212.132034356px, 0) scaleX(2.2627416998);
          transform: rotate(-135deg) translate3d(-64.4396103068px, 212.132034356px, 0) scaleX(2.2627416998);
}
