/*https://alligator.io/css/collapsible/*/

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  -webkit-user-select: none; /* Safari */ 
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
    
    
  border-radius: 20px;
  /* box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25), 
  -3px -3px 6px rgba(255, 255, 255, 0.15); */
    
  margin-bottom: 0px;
  margin-top: 20px;
}

input[type='checkbox'] {
  display: none;
}

.ad {
    width: 320px;
}

.ad label{
    font-size: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.ad .collapsible-content .content-inner  {
    padding: 0px;
    padding-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

.ad img {
    display: block;
    margin: 0 auto;
}

.lvl1 {
  width: 95%; 
}

.lvl1 .lbl-toggle {
  padding: 0.2rem;
}

.lvl1 {
  margin-top: 0px;
    
}


.lbl-toggle {
  display: block;

  font-weight: 400;
  font-size: 1.2rem;
  /* text-transform: uppercase; */
  text-align: center;

  padding: 0.5rem; /*default: 1rem*/

  color: #ffffff;
  background:  rgba(255, 255, 255, 0.05);

  cursor: pointer;

  border-radius: 16px; /* 7px; */
  transition: all 0.2s ease-out;
  
  box-shadow: 3px 3px 6px rgba(95, 95, 95, 0.1);
  
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  
  /*So no highlight on phones*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.lbl-toggle:hover {
  background: rgba(255, 255, 255, 0.2);
}

.lbl-toggle:active {
  box-shadow:  3px 3px 6px rgba(0, 0, 0, 0.0), 
  -3px -3px 6px rgba(255, 255, 255, 0.0);
  border-top: 1px solid rgba(255, 255, 255, 0);
  
  transition: box-shadow 0.15s ease-in-out;
}

input[type='checkbox']:checked + .lbl-toggle {
  box-shadow: none;
  
}

.lbl-toggle::before { /* Little triangle */
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-in-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
  text-align: left;
    
}


.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;  
  
  transition: border-bottom-left-radius 0.2s ease-out, border-bottom-right-radius 0.2s ease-out, box-shadow 0.75s ease-in-out, background 0.2s ease-in-out;
}

.toggle:not(:checked) + .lbl-toggle {  /*turned off toggle*/
  transition: border-bottom-left-radius 0.45s ease-in-out, border-bottom-right-radius 0.45s ease-in-out, box-shadow 0.2s ease-out, background 0.2s ease-in-out;
}

.collapsible-content .content-inner {
  background: rgba(255, 255, 255, 0.1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: .5rem 1rem;
}

.togallButton {
     bottom: 10px;
     right: 10px;
  transition: background .2s ease-in-out;
  z-index: 2000;
}

.togallButton > label:hover {
  background: rgba(255, 255, 255, 0.4);
}

.togallButton label {
    width: 35px;
    height: 34px;
    border-radius: 100px;
     position: fixed; 
     bottom: inherit;
     right: inherit;
  background: rgba(255, 255, 255, 0.2);
}

.togallButton .lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: -0.16rem;
  transform: translateY(2.5px);

  transition: transform .2s cubic-bezier(0,.5,0,1);
}


.togallButton .toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(3.5px);
}

.togallButton .toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

@media only screen and (min-width: 800px) {
  .wrap-collabsible {
    width: 720px;
  } 
  .listy {
    padding-left: 50% - 360px;
    padding-right: 50% - 360px;
  }
  .lvl1 {
    width: 650px;
  }
  .logo {
    width: 400px;
    padding-top: 60px;
  }
  .small-logo {
    width: 100px;
    padding-top: 20px;
  }
  .ad {
      width: 320px;
  }
}

@media only screen and (max-width: 300px) {
  
.maintitle {
  font-size: 25px;
}
}