@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
 @import url(http://weloveiconfonts.com/api/?family=fontawesome);
 [class*="fontawesome-"]:before {
	 font-family: 'FontAwesome', sans-serif;
}
/*
 *, *:before, *:after {
	 box-sizing: border-box;
} */
 a {
	 text-decoration: none;
}

 
 #app {
	 overflow: hidden;
	 width: 350px;
	 height: 708px; /*678px*/
   
	 position: relative;
	 margin: 15px auto 0;
   left: -5px;
   width: 100% !important;
}


@media only screen and (max-width: 330px) {
  #app {
  transform: scale(0.7) !important;
  }
} 
 #people, .person {
	 width: 350px;
	 height: 450px;
   padding-top: 30px;
}

 #people {
	 position: relative;
	 margin: 0 auto;
}

 .person {
	 position: absolute;
	 background-color: white;
	 overflow: hidden;
	 border: 7px solid #00004c;
	 transition: all 1.6s;
   
}
 .person:nth-child(1) {
	 z-index: 5;
	 top: 50px;
	 transition: 0.9s;
}

 .person:nth-child(2) {
	 z-index: 4;
	 top: 100px;
   border-color: #7e80a6;
	 transform: scale(0.9);
	 transition: 1.3s;
}
 .person:nth-child(3) {
	 z-index: 3;
	 top: 147px;
   border-color: #c6c7d5;
	 transform: scale(0.8);
}
 .person:nth-child(n+4) {
	 z-index: 2;
	 transform: scale(0.7);
	 top: 200px;
   border-color: #c6c7d5;
   opacity: 0;
}
.person:before { /*For the 'stamps' put on top*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
}
/*
.person:after { 
  position: relative;
  top: -330px;
  left: 0px;
  content: 'Quiz •';
  border: 5px solid red;
  z-index: 9999 !important;
  
} */

/*
 .person img {
	 width: 105%;
	 background: white;
} */

/*
 .person span {
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 background: white;
	 width: 100%;
	 padding: 10px;
	 font-size: 16px;
	 line-height: 80px;
	 color: #555;
} */
 .person span strong {
	 font-weight: 600;
	 color: #000;
}
 @keyframes yes {
	 0% {
		 transform: translateX(0px);
		 /* left: 0; */
	}
	 30% {
		 transform: translateX(0px);
		 /* left: 0; */
	}
	 60% {
		 opacity: 1;
	}
	 100% {
		 transform: translateX(400px) rotateZ(45deg);
		 /* left: 400px; */
     opacity: 0.2;
	}
}

/*
 @keyframes skip {
	 0% {
		 right: 0;
     z-index: 999;
	}
	 30% {
		 right: 250px;
     transform: perspective(800px) rotateY(80deg);
     top: 100px;
     z-index: 0;
	}
	 80% {
		 right: 130px;
     top: 150px;
     z-index: 0;
	}
	 90% {
     z-index: 0;
		 right: 100px;
	   transform: scale(0.35) perspective(400px) rotateY(45deg);
     top: 150px;
	}
	 100% {
     z-index: 0;
		 right: 0px;
	   transform: scale(0.35);
     top: 150px;
	}
} */
 @keyframes skip {
	 0% {
		 right: -14px;
     z-index: 999;
	} 
   10% {
     z-index: 999;
	}
	 50% {
		 right: 250px;
     transform: perspective(800px) rotateY(80deg) rotateZ(-20deg);
     top: 100px;
     z-index: 0;
     opacity: 1;
	}
	 80% {
     top: 150px;
     z-index: 0;
	}
	 90% {
     z-index: 0;
	   transform: scale(0.35) perspective(400px) rotateY(45deg);
	}
	 100% {
     top: 200px;
     z-index: 0;
		 right: 0px;
	   transform: scale(0.35);
     opacity: 0;
	}
}
 .animateSkip {
	 animation-fill-mode: both;
	 animation: skip 0.8s ease-in;
}
 .animateSkip:before {
	 transform: scale(0.75) rotateZ(0deg);
	 /* background: url(PA_skip_4.svg) no-repeat center 50%; */
   transition: all 0.2s;
}

 .animateYes {
	 animation-fill-mode: both;
	 animation: yes 0.6s ease-in; /*0.6s linear;*/
	 will-change: transform;
}
 .animateYes:before {
	 transform: scale(0.75) rotateZ(0deg);
	 background: url(PA_greenyes.svg) no-repeat center 100%;
   transition: all 0.2s;
   z-index: 9999;
	 will-change: transform;
}
/*
 @keyframes no {
	 0% {
		 right: 0;
	}
	 30% {
		 right: 0;
	}
	 100% {
		 transform: rotateZ(-145deg);
		 right: 400px;
	}
} */

 @keyframes no {
	 0% {
		 right: -14px;
     z-index: 999;
	} 
   30% {
		 right: 20px;
     z-index: 999;
     transform: rotateZ(-3deg);
	}
	 80% {
		 right: 250px;
     transform: perspective(800px) rotateY(80deg) rotateZ(-20deg);
     top: 100px;
     z-index: 0;
     opacity: 1;
	}
	 90% {
     top: 150px;
     z-index: 0;
	}
	 95% {
     z-index: 0;
	   transform: scale(0.35) perspective(400px) rotateY(45deg);
	}
	 100% {
     top: 200px;
     z-index: 0;
		 right: 0px;
	   transform: scale(0.35);
     opacity: 0;
	}
}
 .animateNo {
	 animation-fill-mode: both;
	 animation: no 0.8s ease-in;
}
 .animateNo:before {
	 transform: scale(0.75) rotateZ(0deg);
	 background: url(PA_redno.svg) no-repeat center 50%;
   transition: all 0.2s;
   z-index: 9999;
}


@keyframes no-final {
	 0% {
		 right: -14px;
     z-index: 5;
	}
   50% {
		 right: -14px;
     z-index: 5;
     
	}
	 100% {
		 transform: rotatey(-360deg); 
		 right: -14px;
     z-index: 5;
	}
} 
@keyframes no-final-before {
	 0% {
		 right: -14px;
     z-index: 9999;
	}
  30% {
     opacity: 1;
     z-index: 9999;
  }
	 50% {
		 right: -14px;
	   transform: scale(0.75);
	   background: url(PA_redno.svg) no-repeat center 50%;
     z-index: 9999;
	}
	 100% {
		 transform: rotatey(-360deg);
		 right: -14px;
     z-index: 9999;
     opacity: 0;
	}
} 
@keyframes no-final-after {
	 0% {
		 right: -14px;
     z-index: 0;
	}
	 50% {
		 right: -14px;
	   transform: scale(0.75);
	   background: url(PA_greenyes.svg) no-repeat center 50%;
     z-index: 0;

	}
	 100% {
		 transform: rotatey(-360deg);
		 right: -14px;
     z-index: 0;

	}
} 


.animateNoFinal {
	 animation-fill-mode: both;
	 animation: no-final 1.3s ease-out;
}

.animateNoFinal:before {
	 animation-fill-mode: both;
	 animation: no-final-before 1.3s ease;
}

.animateNoFinal:after {
	 animation-fill-mode: both;
	 animation: no-final-after 1.3s ease;
}
/*
.animateNoFinal:before {
	 transform: scale(0.75) rotateZ(0deg);
	 background: url(PA_redno.svg) no-repeat center 50%;
   transition: all 0.2s;
   z-index: 9999;
}*/

 #control {
	 position: relative;
	 margin: 15px auto 0;
	 width: 400px;
   top: 100px;
   margin-top: 30px;
   z-index: 9999;
}
 #control .button {
	 width: 65px;
	 height: 65px;
	 position: absolute;
	 top: 0px;
	 border-radius: 50%;
}
 #control .button .trigger {
   /* background: white; */
	 display: block;
	 /* border-radius: 50%; */
	 width: 75%;
	 height: 75%;
	 margin: 0 auto;
	 position: relative;
	 top: 50%;
	 transform: translateY(-50%);
	 transition: all 0.1s; /*0.1s*/
	 text-align: center;
}

 #control .button .trigger:active {
	 transform: translateY(-50%) scale(0.75); /*translateY(-50%) */
	 transition: all 0.05s linear; /*0.05s*/
}
 #control .button .trigger:before {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translateY(-50%) translateX(-50%);
}

 #control .no {
	 left: 38px;
}
 #control .no .trigger:before {
    content: "Skip"; 
	 font-size: 16px;
   padding-top: 50px !important;
}
 #control .yes {
	 right: 38px;
}
 #control .yes .trigger:before {
   content: "Confirm"; 
	 font-size: 16px;
   padding-top: 50px !important;
}
 #control .info {
	 left: calc(50% - 23px);
	 top: 17px;
	 height: 46px;
	 width: 46px;
}
 #control .info .trigger {
	 width: 65%;
	 height: 65%;
}
 #control .info .trigger:before {
	 content: "PA-skip-4.svg";
	 font-size: 16px;
	 color: #3498db;
}
 #copy {
	 font: 12px "Open Sans";
	 color: #ccc;
	 position: fixed;
	 top: 5px;
	 left: 5px;
}
 #copy a {
	 color: #aaa;
}

#people .parent {
  position: absolute !important;
  bottom: 21px !important;
}

.fadeout {
  opacity: 0 !important;
  transition: opacity 1s;
}

.fadeout:hover {
  cursor: default !important;
}

.fadein {
  opacity: 1 !important;
  transition: all 1s;
  top: -240px;
  transform: scale(1) !important;
}
.question_stars_1 {
  width: 25px !important; 
  position: relative; 
  float: right; 
  top: 5px; 
  right: 15px;
}
.question_stars_2 {
  width: 50px !important; 
  position: relative; 
  float: right; 
  top: 0px; 
  right: 15px;
  
}.question_stars_3 {
  width: 50px !important; 
  position: relative; 
  float: right; 
  top: 0px; 
  right: 15px;
}

.restart:hover {
  cursor: pointer;
}



.column {
  /* flex: 33%; */

}

@media screen and (max-width: 500px) {
  .column {
    /* width: 100%; */
  }
}

.row {
  display: flex;
}

.white-bubble-title-quiz {
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 7px;
  padding-right: 7px;
}

.quiz-behind {
  position: relative;
  background-color: white;/*#f3f3f6; abl grey*/ 
  border: 7px solid rgba(0, 0, 76, 0.5) !important;
  border-bottom: 0px solid rgba(0, 0, 76, 0.5) !important;
  border-radius: 0px !important;
  border-top-left-radius: 0px !important;
  width: 300px !important;
  height: 20px;
  z-index: -1;
  top: -60px;
}

.quiz-behind-2 {
  position: relative;
  background-color: #f3f3f6;/*#f3f3f6; abl grey*/ 
  border: 7px solid #00004c !important;
  border-bottom: 0px solid #00004c !important;
  border-radius: 0px !important;
  border-top-left-radius: 0px !important;
  width: 250px !important;
  height: 20px;
  z-index: -100;
  top: -5px;
  opacity: 0.2;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(2, 60px);
  grid-column-gap: 20px;
  grid-row-gap: 15px;

  position: relative;
  float: bottom;
  padding-left: 25px;
}

.parent2 {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(2, 60px);
  grid-column-gap: 20px;
  grid-row-gap: 15px;

  position: relative;
  float: bottom;
  padding-left: 25px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }

.child {
  border: 5px solid #00004c;
  
  text-align: center;
  padding-top: 14px;
  
  /* box-shadow: 0px 3px 10px rgba(95, 95, 95, 0.6); */
  
  transition: all 0.5s;
  
}

.child:hover {
  
  transform: translateY(2px);
  box-shadow: none;
  cursor: pointer;
}

.one-line {
  
}

.two-line {
  padding-top: 6px;
}


.three-line {
  font-size: 13px;
  padding-top: 0px;
}

.togall-box {
  width: 75px !important;
  height: 5px !important;
}

#confetti {
  z-index: 1000 !important;
  position: relative;
  /* height: 100%; */
}



#quiz-bg {
  
  position: relative;
  opacity: 0;
  margin-top: -190px;
  transform: scale(0.7); /* translateY(-25px); */
  height: 50px !important;

}


.red {
  background-color: red;
}


.child { /*so cannot highlight: */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

label input[type="radio"] {
  display: none;
  position: absolute;
  width: 100%; 
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;  
}

/*
input[type="radio"]:checked > lebel {
  background: #ff0000 !important;
  /* -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; 

  transform: translateY(2px) !important;
}*/
.radiobtn input[type="radio"]:checked + label:after {
  background: #fcae2c;
}
.radiobtn input[type="radio"]:checked + label:before {
  width: 20px;
  height: 20px;
}

.activeA, .activeB, .activeC, .activeD {
  border: 5px solid #00004c;
  background-color: #00004c;
  /* box-shadow: none; */
  cursor: pointer;
  color: white !important;
}

 .button.yes .trigger {
   opacity: 0.3;
}
 .button.no .trigger {
   opacity: 0.3;
  transition: opacity 1s;
}

.activeConfirmButton {
  opacity: 1 !important;
  cursor: pointer;
}
.activeSkipButton {
  opacity: 1 !important;
  cursor: pointer;
}