body {
  margin: 0;
  /* background-image: linear-gradient(-206deg, #00d895  0%, #001c69 100%); */
  /* background-image: linear-gradient(-206deg, #835EFF 0%, #FF008D 100%); */
  /* background-image: linear-gradient(-206deg, #835EFF 0%, #3100ff 100%); */
  /* background-image: linear-gradient(-206deg, #035f51 0%, #32003e 100%); */
  background-image: linear-gradient(-206deg, #ffbd84 0%, #f5768e 100%) !important; 
  background-attachment: fixed;
  font-weight: 200;
  height: 100vh; /*https://stackoverflow.com/questions/24944925/background-image-jumps-when-address-bar-hides-ios-android-mobile-chrome*/
}

strong, b {
  font-weight: 600;
}

label {
  font-weight: 600 !important;
}

.ad label {
  font-weight: 400 !important;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.51);
  padding-bottom: 15px;
}

.wrap {
  overflow: hidden;
  /* height: 100vh; */
  
}

canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
    
}

.text {
    
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  text-align: center;
    
  font-family: "Montserrat", "Gilroy", "helvetica neue", sans-serif;
  font-weight: 200;
  color: #4d4d4d;
}

h3 {
    font-size: 30px;
    font-weight: 800;
  margin: 0px;
  color: #4d4d4d;
}

.pa-background {
  background-color: red;
  /*
  background-image: url("favicon2.png") !important;
  */
}


label {
  color: #4d4d4d !important;
}

h2 {
    font-size: 80px;
    padding-top:  30px;
    
    font-weight: 100;
}

h1 {
    font-size: 150px;
    
    margin: -10px 0;
}

p {
  margin-top: 13px;
  margin-bottom: 10px;
}

.logo {
    width: 240px;
    padding-top:100px;
}

.small-logo {
    width: 60px;
    padding-top:20px;
}

.arrows {
  
  color: #4d4d4d;
}

.listy {
    text-align: left;
    font-weight: 300;
    padding-left: 5%;
    padding-right: 5%;
    
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 3px;
    padding-bottom: 3px;
}

h4 .listy {
    width: 80%;
}

.chevron {
    cursor: default;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
  position: relative;
  
  /*So no highlight on phones*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  text-decoration: none;
}

a:after {
  border-radius: 1em;
  border-top: .035em solid #ffffff;
  content: "";
  position: absolute;
  right: 100%;
  bottom: .14em;
  left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1);
}

a:hover:after {
  right: 0;
}


a:after .champagne { /* Doesn't work ! */
  left: 100% !important;
  right: 0 !important;
  transition: left .4s cubic-bezier(0,.5,0,1) !important;
}

a:hover:after .champagne {
  left: 0 !important;
}

.summary {
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.summarytitle {
  padding-top: 10px;
  font-size: 25px;   
}
/*
 .small-quote {
	position: relative;
  font-style: italic;
  top: 10px;
  margin-left: 40px; 
}

.big-quote {
  font-family: serif;
  text-align: center;
  font-size: 20px;
}
*/
.small-blockquote {
  
  margin-top: -5px;
	font-size: 16px !important;
  font-family: "Montserrat", "Gilroy", "helvetica neue", sans-serif;
}

.small-blockquote::before {
	font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  
  top: 20px;
  left: 10px;
}


blockquote {
	font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 2.2em;
	line-height: 0.5;
	position: relative;
	text-align: center;
	/* color: #939997; */
  margin: 0px;
  font-style: italic;
  top: -25px;
  left: -20px;
  margin-bottom: -20px;
}

blockquote::before {
	content: '\201C';
	font-size: 3.9em;
	font-style: italic;
	line-height: 1;
  position: relative;
	top: 30px;
  left: 20px;
	margin: 0 0.075em 0 0;
	color: rgba(240, 243, 243, 0.32);
  z-index: -1000;
}


blockquote span {
	font-size: 0.65em;
	white-space: nowrap;
  position: relative;
	top: -10px;
  left: 50px;
	/* color: #cbcece;*/
}

blockquote {
  font-size: 1.5em;
}

canvas {
     -webkit-animation: fadein 1s ease-out;
       -moz-animation: fadein 1s ease-out; 
        -ms-animation: fadein 1s ease-out;
         -o-animation: fadein 1s ease-out; 
            animation: fadein 1s ease-out;
}
  

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* To fix white bar on chrome mobile
https://stackoverflow.com/questions/48715298/fix-white-bar-below-background-image-on-android-chrome-when-scrolling-down 
@media only screen and (max-device-width: 480px) {
    html {
      height: calc(100% + 60px);
      min-height: calc(100% + 60px);
    }
}
*/
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; 
  top: 0;
  border-radius: 10px;
  opacity: 0.9;
}

.hytPlayerWrap {
position:relative!important;
padding-bottom:56.25%;
padding-top: 0px; /* adjust if out of video black bars */
height:0;
overflow:hidden;
display: block!important;
  
  border-radius: 10px;
}

.hytPlayerWrap iframe, .hytPlayerWrap object, .hytPlayerWrap embed {
position:absolute;
top:0;
left:0;
width: 100%!important;
height:100%;
}

.playbutton {
  display: inline-block;
  /*Circle*/
  /*
  top: -3.5px;
  padding-left: 8.5px;
  padding-right: 7px;
  padding-top: 6.85px;
  padding-bottom: 7px;
  border-radius: 50%;
  */
  top: -4.5px;
  padding: 7px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid white;
}

.playbutton:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  transition: .15s ease-in-out;
}

.playbutton:after {
  transition: none;
  right: 0;
  left: 100%;
}

.playicon {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 12px solid white;
}

