html {

}

body {
  margin: 0;
  /* background-image: linear-gradient(-206deg, #00d895  0%, #001c69 100%); */
  /* background-image: linear-gradient(-206deg, #835EFF 0%, #FF008D 100%); */
  /* background-image: linear-gradient(-206deg, #835EFF 0%, #3100ff 100%); */
  /* background-image: linear-gradient(-206deg, #035f51 0%, #32003e 100%); */
  background-image: linear-gradient(-206deg, #ffbd84 0%, #f5768e 100%) !important; 
  background-attachment: fixed;
  font-weight: 200;
}

strong {
  font-weight: 600;
}

label {
  font-weight: 600 !important;
}

.ad label {
  font-weight: 400 !important;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.51);
  padding-bottom: 15px;
}

.wrap {
  overflow: hidden;
  /* height: 100vh; */
  
}

canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
    
}

.text {
    
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  text-align: center;
    
  font-family: "Montserrat", "Gilroy", "helvetica neue", sans-serif;
  font-weight: 200;
  color: white;
}

h3 {
    font-size: 30px;
    font-weight: 800;
  margin: 0px;
  color: #4d4d4d;
}


label {
  color: #4d4d4d !important;
}

h2 {
    font-size: 80px;
    padding-top:  30px;
    
    font-weight: 100;
}

h1 {
    font-size: 150px;
    
    margin: -10px 0;
}

.logo {
    width: 240px;
    padding-top:100px;
}

.small-logo {
    width: 60px;
    padding-top:20px;
}

.listy {
    text-align: left;
    font-weight: 300;
    padding-left: 5%;
    padding-right: 5%;
    
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 3px;
    padding-bottom: 3px;
}

h4 .listy {
    width: 80%;
}

.chevron {
    cursor: default;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
  position: relative;
}

a:hover {
  text-decoration: none;
}

a:after {
  border-radius: 1em;
  border-top: .035em solid #ffffff;
  content: "";
  position: absolute;
  right: 100%;
  bottom: .14em;
  left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1);
}

a:hover:after {
  right: 0;
}


a:after .champagne { /* Doesn't work ! */
  left: 100% !important;
  right: 0 !important;
  transition: left .4s cubic-bezier(0,.5,0,1) !important;
}

a:hover:after .champagne {
  left: 0 !important;
}

.summary {
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.summarytitle {
  padding-top: 10px;
  font-size: 25px;   
}

.small-quote {

}

.big-quote {
  font-family: serif;
  text-align: center;
  font-size: 20px;
}


blockquote {
	font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 2.2em;
	line-height: .5;
	position: relative;
	text-align: center;
	/* color: #939997; */
  margin: 0px;
}

blockquote::before {
	content: '\201C';
	font-size: 2.2em;
	font-style: italic;
	line-height: 1;
	/* position: absolute; */
	top: -0.3em;
	right: 100%;
	margin: 0 0.075em 0 0;
	color: rgba(240, 243, 243, 0.32);
}

blockquote::after {
	content: '\201D';
	font-size: 2.2em;
	font-style: italic;
	line-height: 1;
	/* position: relative; */
	top: -0.15em;
	right: 100%;
	margin: 0 0.075em 0 0;
	color: rgba(240, 243, 243, 0.32);
}

blockquote span {
	font-size: 0.5em;
	white-space: nowrap;
	/* color: #cbcece;*/
}

blockquote {
  font-size: 1.45em;
}
