/* Demos */

.demos {
  overflow-y: scroll;
  width: calc(50% - 240px);
  min-width: 330px;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.demo {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  padding-top: 35px;
  border-bottom: 1px solid rgba(0,0,0,.65);
  cursor: pointer;
}

.demo-description {
  display: none;
}

.demo.controls {
  padding-top: 50px;
}

.demo.active.controls {
  cursor: default;
}

.demo:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
}

.demo.active:before {
  opacity: .05;
}

.demo-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 290px;
  height: 100%;
}

.demo-title {
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 23px 0;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #F6F4F2;
  opacity: .9;
}

.active .demo-title {
  color: currentColor;
  opacity: 1;
}

.demo-wrapper {
  display: flex;
  
  justify-content: flex-end !important;
}

.line {
  width: 100%;
}

.line.align-center {
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.controls {
  opacity: .4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.controls button {
  position: relative;
  display: block;
  margin: 0 0 0 -1px;
  padding: 5px 10px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid currentColor;
  background-color: transparent;
  color: currentColor;
}

.controls button:focus {
  outline: none;
}

.active .controls {
  opacity: 1;
}

.active .controls button:after {
  content: '';
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
}

.active .controls button:hover:after {
  opacity: .2;
}

.controls button.is-active:after,
.controls button.is-active:hover:after {
  opacity: .4;
}

.controls button:first-child {
  margin-left: 0;
}

.controls input {
  margin-left: 10px;
}

.text-output {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: currentColor;
  text-align: center;
  background-color: transparent;
  border: 1px solid currentColor;
}

.log {
  width: 100%;
  height: 100%;
  background: transparent;
  color: currentColor;
  border: none;
  font-size: 16px;
  text-align: center;
}

.bottom.log {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logs {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: auto;
}

.log:focus {
  outline: none;
}

input.progress {
  cursor: ew-resize;
}

input.progress[value] {
  position: relative;
  width: 100%;
  height: 27px;
  -webkit-appearance: none;
  background-color: transparent;
  color: currentColor;
}

input.progress[value]:focus {
  outline: none;
}

input.progress[value]:after {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}

input.progress[value]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: currentColor;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.square,
.circle {
  pointer-events: none;
  position: relative;
  width: 28px;
  height: 28px;
  margin: 1px;
  background-color: currentColor;
  font-size: 14px;
}

.circle {
  border-radius: 50%;
}

.square.outline,
.circle.outline {
  background-color: transparent;
  border: 1px solid currentColor;
}

.square.dotted,
.circle.dotted {
  background-color: white;
  border: -2px dotted currentColor;
}

.triangle {
  pointer-events: none;
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 14px 24px 14px;
  border-color: transparent transparent currentColor transparent;
}

.small {
  width: 18px;
  height: 18px;
}

.small.triangle {
  border-width: 0 10px 17px 10px;
}

.large {
  width: 48px;
  height: 48px;
}

.stretched {
  height: 2px;
}

.shadow {
  position: absolute;
  opacity: .2;
}

.label {
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
  height: auto;
  padding-left: 38px;
  transition: opacity .5s ease;
}

.demo.active .label {
  opacity: .2;
}

.small.label {
  height: 18px;
  padding-left: 28px;
}

.large.label {
  height: 48px;
  padding-left: 58px;
}

.motion-path {
  position: relative;
  width: 256px;
  margin: auto;
}

.follow-path {
  position: absolute;
  top: -9px;
  left: -9px;
}

.align-center {
  align-items: center;
}

.add-states-demo .el {
  border: 1px solid rgba(0,0,0,0);
}

#cssProperties .el {
  transform: translate3d(0,0,0);
}

/* Tom: */

.demo-wrapper {
  text-align: center;
  width: 250px;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.shape {
  background-image:  url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><linearGradient id='gradient'><stop offset='10%' stop-color='%23F00'/><stop offset='90%' stop-color='%23fcc'/> </linearGradient><rect fill='url(%23gradient)' x='0' y='0' width='100%' height='100%'/></svg>");
}

.timelabel {
  font-style: italic;
  position: relative;
  left: 5px;
}

