

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.radio-group label {
  color: red;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

input[type=radio]:checked + label{
  color: blue;
  background: yellow;
}

label + input[type=radio] + label {
  border-left: solid 3px red;
}
.radio-group {
  border: solid 3px green;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}