/* sidenav code from W3 schools */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5; /*1*/
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.4s; /*0.5s;*/
    padding-top: 40px; /*60px*/
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .footer {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    
    
    position: absolute;
}






.sidenavleft {
    left: 0;
}

.sidenavright {
    right: 0;
    z-index: 4;
}